@import "~antd/dist/antd.css";

$facebook-color: #3b5998;
$github-color: #24292e;
$twitter-color: #1da1f2;
$instagram-color: #e1306c;

html {
  background-color: #282c34;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.manzinello-app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: calc(10px + 2.5vmin);
  color: white;
  font-weight: 300;
}

p.manzinello-matteo {
  margin-bottom: 12px;
}

.manzinello-description {
  font-size: 0.7em;
  margin-top: 5px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.manzinello-piva {
  color: white;
  font-size: 0.4em;
  margin-top: 4px;
}

.manzinello-tags {
  font-size: 0.4em;
  margin-top: 20px;
}

.manzinello-email {
  margin-top: 12px;
  font-size: 0.8em;
  display: block;
}

.manzinello-email a {
  color: white;
  text-decoration: none;
  transition: border 0.3s;
  -webkit-transition: border 0.3s;
  text-decoration: underline;
  opacity: 0.9;
}

.manzinello-email a:hover {
  opacity: 1;
}

.manzinello-icons {
  margin-top: 15px;
  margin-bottom: 15px;
  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.manzinello-place-badge {
  margin-top: 30px;
}

.manzinello-place-badge .ant-badge-status-text {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.writemenow-button,
.manzinello-avatar {
  margin-bottom: 12px;
}

#github-fabulous {
  transition: all 0.5s !important;
}

@mixin icons($n, $color) {
  a.#{$n} {
    color: $color;
    &:hover,
    &:active,
    &:focus {
      border-color: $color;
      color: $color;
    }
  }
}

@include icons("instagram", $instagram-color);
@include icons("twitter", $twitter-color);
@include icons("facebook", $facebook-color);
@include icons("github", $github-color);
